#|--------------------------------|
#|config the logs inside container|
#|--------------------------------|
[mysqld]
log_bin
default-authentication-plugin = caching_sha2_password
skip-name-resolve
mysqlx=0
tls-version=''
host_cache_size=0
datadir=/var/lib/mysql
socket=/var/run/mysqld/mysqld.sock
secure-file-priv=/var/lib/mysql-files
user=mysql

#log_error = /var/log/error.log

pid-file=/var/run/mysqld/mysqld.pid
[client]

#slow_query_log_file = /var/log/slow_query.log
#slow_query_log = 1
#long_query_time = 2
#log_queries_not_using_indexes = 1
#log_slow_admin_statements = 1

#general_log = 1
#general_log_file = /var/log/general.log

#socket=/var/run/mysqld/mysqld.sock

!includedir /etc/mysql/conf.d/